*{
    padding: 0;
    margin: 0;
}

.main, .main-left, .main-right, .mr-qui, .mr-pl, .mr-pay, .mr-table, .mr-sign{
    border: 1px solid red;   
}
.main{
    width: 595px;
    height: 842px;
    border-radius: 4px;

    display: flex;
    justify-content: start;
    align-items: start;
}

.main-left{
    background-color:  #3AC2C2;
    width: 10px;
    height: 100%;
}

.main-right{
    width: 832px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.mr-qui{
    width: 100%;
    height: 10%;
}

.mr-pl{
    width: 100%;
    height: 15%;
}
.mr-pay{
    width: 100%;
    height: 15%;
}
.mr-table{
    width: 100%;
    height: 35%;
}
.mr-sign{
    width: 100%;
    height: 25%;
}
